*{
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    padding:10px;
    background-image: url('223.gif');
    background-repeat: no-repeat;
    background-size : cover;
}

.header {
    text-align: center;
    padding: 60px;
    color:white;
}
.header h1{
    font-size: 40px;
}
.header p {
    font-size: 20px;
    color: white;
}

nav ul{
    width: 70%;
    background-color: rgba(44,42,39,0.983);
    margin-left: 15%;
    margin-right: 15%;
    padding: 0;
}

nav ul li{
    display: inline-block;
}
.dropdown-menu {
    color: white;
    padding: 6px;
    font-size: 16px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #E6E6E6;
    width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 15px
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.leftcontent {
    float: left;
    width: 17%;
    margin-left: 15%;
    color: white;
}

.rightcontent {
    float: left;
    width: 53%;
    margin-right:15%;
    padding-left: 13px;
    color:white;
    font-size: 20px;  
}

.card {
    background-color: #848484;
    padding: 20px;
    padding-top: 5px;
    margin-top: 13px;
}

content:after {
    content:"";
    display: table; 
    clear: both;
}
footer {
    margin-top:-1.9em;height:1.9em;
    padding: 20px;
    text-align: center;
    width: 70%;
    font-size: 15px;
    margin-left: 15%;
    color: white;
}

a:link {
    text-decoration: none;
    color: black;
}
#timeline .card{
    box-shadow: 1px 1px 3px rgba(0,0,0,.5);
    padding: 20px;
    border-radius: 5px;
    transition: box-shadow .5s;
}

#timeline .card:hover {
    box-shadow: 1px 1px 30px rgba(0,0,0,.5);
}

#timeline .card h3 {
    margin:0;
}

#timeline .card p {
    margin:15px 0 0 0;
}

#timeline .card .card_content h3 {font-size:18px}
#timeline .card .card_content h3 img {
    
    margin-right:10px;
    widows: 30px;
    vertical-align: middle;
}
#timeline .card .card_content>img {width:100%; margin-top: 15px;}

.subject{
 color: rgb(41, 37, 37); 
 text-decoration: underline;
 
 font-weight: 700;
 font-size: large;
}

